* {
  margin: 0;
  padding: 0;
  max-height: 1000px;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  height: 1000px;
}

.aside {
  width: 350px;
  background-color: #7f3647;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.aside .profile img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.aaa ul {
  list-style: none;
  padding: 0;
}

.aaa li {
  padding: 10px 0;
  cursor: pointer;
}

.aaa .active {
  background-color: white;
  color: #7f3647;
  padding-left: 10px;
}

.redes i {
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  background-color: #582a35;
}

.bbb {
  background-image: url('marte.webp');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px;
  justify-items: center;
  display: flex;
}

.about {
  padding: 20px;
  margin-bottom: 20px;
}

.ccc {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ddd {
  border-radius: 5px;
}

.ddd img {
  width: 500px;
}

.eee {
  padding: 15px;
}

.eee img{
  width: 450px;
  display: flex;
  justify-content: left;
}

.boton {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: #7f3647;
  text-decoration: none;
  border-radius: 3px;
}
